.content {
    display: grid; 
    grid-template-columns: auto ;
    grid-template-rows: auto;
    justify-items: center; 
    gap: auto;
    width: 300px; 
    height: 500px; 
    margin: auto;
    overflow: hidden; 
    border-radius: 15px 15px 15px 15px; 
}
img {
    width : 100%;
}
p {
    color: darkblue;
    padding-top: auto; 
}
p1 {
    color: gray; 
    /* justify-content: center; */
    text-align: center;
    width: 250px; 
}
p2, p3, p4 {
    background-color: skyblue;
    align-content: center;
    /* align-items: flex-end;  */
}
p2 {
    grid-template-columns: 1/2;
    grid-template-rows: 7/8;
}
p3 {
    grid-template-columns: 2/3;
    grid-template-rows: 7/8;
}
p4 {
    grid-template-columns: 3/4;
    grid-template-rows: 7/8;
}
sub {
    vertical-align: super;
    font-size: small;
}


