@import url('https://coolors.co/ffa6c8-ffffff');

:root {
background-color: #ffa6c8;
}
h1 a.hover {
    color: white;
    background-color: #ffa6c8;
}
h1, h2, h3 {
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
class.chal {
    text-align: center;
}
img {
    width: 20%;
}